body {
      background-size: cover;
  }
  img{
      width: 100%;
  }
    form {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    input[type="text"], input[type="email"], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      font-size: 16px;
    }
    input[type="file"] {
      margin-top: 6px;
      margin-bottom: 16px;
    }
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
    input[type="submit"]:hover {
      background-color: #45a049;
    }
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 16px;
    }
    .radio-label {
      display: inline-block;
      margin-right: 10px;
      font-size: 16px;
    }
    .checkbox-label {
      display: block;
      margin-top: 10px;
      font-size: 16px;
    }
    textarea {
      height: 150px;
      font-size: 16px;
    }
    .checkbox-label input[type="checkbox"] {
      margin-right: 10px;
      vertical-align: middle;
    }
    .radio-group {
        display: flex;
        align-items: center;
        gap: 10px; /* Расстояние между радио-кнопками и текстом */
        margin-top: 10px;
    }
    
    .radio-group label {
        flex: 1; /* Равномерное распределение места для радио-кнопок и текста */
    }