
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

/* Стили для кнопки "Отправить" */
input[type="submit"] {
    background-color: #45a049;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Стили для кнопки "Заполнить снова" */
form[action="header.html"] input[type="submit"] {
    background-color: #45a049;
}

form[action="header.html"] input[type="submit"]:hover {
    background-color:  #45a049;
}