/* Общий стиль контейнера */
.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стиль контейнера для ввода чисел и кнопки */
.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Стиль кнопки */
.btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* При наведении на кнопку */
.btn:hover {
    background-color: #0056b3;
}

/* Стиль для результатов */
p {
    margin: 10px 0;
    font-weight: bold;
}
